<strong>Olá, {{ studentName }}!</strong>
<br />
<p> Sua dúvida foi respondida, confira a resposta abaixo:</p>
<br />
<p>
  <strong>Sua dúvida: </strong> {{ question }} <br />
  <br />
  <br />
  <strong>Nossa resposta: </strong> {{ answer }} <br />
  <br />
  <p>Caso tenha mais alguma dúvida entre em contato conosco.</p>
</p>
